<div class="container">
    <div>
        <h1>To-do Management</h1>
        <p>A todo management application is a software tool designed to help users organize and track their tasks,
            responsibilities, and goals in a systematic and efficient manner.</p>
    </div>

    <hr>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" class="form-control" id="task" placeholder="Enter your task" ngModel name="task"
                required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage"
                class="form-text text-danger">Required field</small>
        </div>
        

        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>

    <div class="text-center"> 
        <button class="btn btn-sm btn-info" (click)="toggleIncompleteTasks()">Incompleted Tasks</button> <!-- Apply custom styles -->
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Completed</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of filteredTasks; index as i">
                <td>{{t.taskName}}</td>
                <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox" [checked]="t.isCompleted"></td>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
            </tr>

        </tbody>
    </table>
</div>
